{% extends ('@AplabAdmin/index.html.twig') %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/static/cms/vendor.css') }}">
    <link rel="stylesheet" href="{{ asset('/static/cms/build.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('static/cms/build.js') }}"></script>
{% endblock %}
{% block body_classes %}{{ UiDataTransmitter.getBodyClasses() }}{% endblock %}
{% block body %}
    <div id="capsule-cms-sidebar">
        {% block sidebar %}
            <div id="capsule-cms-sidebar-buttons">
                <button id="capsule-cms-sidebar-button-close">
                    <i class="fas fa-times"></i>
                </button>
                <button id="capsule-cms-sidebar-button-toggle-pin">
                    <i class="fas fa-thumbtack"></i>
                </button>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet at, cupiditate incidunt itaque nihil odit
                omnis reiciendis sequi suscipit veniam.</p>
        {% endblock %}
    </div>
    <div id="capsule-cms-content">
        {% block content %}
            <button class="btn btn-light m-1"
                    id="capsule-cms-open-sidebar">
                <i class="fas fa-bars,test"></i>
            </button>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, aliquam corporis cupiditate dicta,
                dolore doloremque eius esse eveniet excepturi expedita fugiat illo impedit ipsam iste iusto labore
                laboriosam magni, modi molestias nam nemo nesciunt officia officiis optio pariatur placeat quis
                repudiandae similique totam veniam! Alias beatae debitis deserunt, eaque eligendi, esse eum fuga fugiat
                hic id magnam, mollitia pariatur porro quam sint. Aut dicta dolores minus molestiae obcaecati omnis sed!
                At commodi cum dignissimos dolore eius eos explicabo facere facilis fuga laboriosam laudantium nesciunt
                reiciendis, tempore temporibus vitae. Assumenda doloribus earum error laudantium molestiae numquam
                placeat ratione repellendus ullam? Ipsam.</p>
        {% endblock %}
    </div>
{% endblock %}